@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-item {
    display: block;
    object-fit: cover;
	overflow: hidden;
    width: 220px;
    height: 280px;
    margin: 25px;
}

.link {
	margin: 16px;
	padding: 1rem 2rem;
	line-height: 2rem;
	border-radius: 16px;
	font-size: 1rem;
	font-weight: 500;
	background: darkslategrey;
	color: white;
}
